.portadaweb img{
    margin: auto;
    display: block;
    margin-bottom: 30px;
}
.noticia {
    text-align: center;
}
body {
    background-color: rgb(225, 34, 34);
    width: 100%;
    margin: 0px;
}
h1 {
    text-align: center;
}
img {
    margin: auto;
    display: block;
}
header {
    text-align: center;
}
.button {
    display: inline-block;
    text-align: center;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 9px;
    padding: 12px 24px;
    margin: 0 10px; 
    line-height: 48px; 
}
footer{
    background-color: olive;
	font-variant: small-caps;
	float: left;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}
.articulo1{
    background-color: deepskyblue;
}
.articulo2{
    background-color: yellow;
}
.articulo3{
    background-color: rgb(255, 157, 0);
}
.articulo4{
    background-color: rgb(191, 0, 255);
}
#viniciusweb{
    background-color: yellow;
}
#barcaweb{
    background-color: yellow;
}
#brasil{
    background-color: rgb(255, 157, 0);
}
#scaloneta{
    background-color: rgb(255, 157, 0);
}
#garnachopa{
    background-color: rgb(191, 0, 255);
}
#ligadechina{
    background-color: rgb(191, 0, 255);
}
.argentinanoticias{
    background-color: deepskyblue;
}
table {
    border-collapse: collapse;
    border: 10px solid black;
    margin: 0 auto; 
}
td{
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}