.portadaweb img{
    margin: auto;
    display: block;
    margin-bottom: 30px;
}
.noticia {
    text-align: center;
}
html {
    background-color: rgb(225, 34, 34);
    margin: 0px;
    border: 20px rgb(255, 136, 0) groove;
    padding: 0px;
}
body{
    margin: 0%;
    width: 100%;
}
h1 {
    text-align: center;
}
img {
    margin: auto;
    display: block;
}
header {
    text-align: center;
}
.button {
    display: inline-block;
    text-align: center;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 15px;
    padding: 12px 24px;
    margin: 0 10px 30px; 
    line-height: 48px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    
}
footer{
    background-color: olive;
	font-variant: small-caps;
	float: left;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
    padding: 20px;
    border: 10px groove white;
}
.articulo1{
    background-color: deepskyblue;
    border: 10px double black;
}
.articulo2{
    background-color: yellow;
    border: 10px double black;
}
.articulo3{
    background-color: rgb(255, 157, 0);
    border: 10px double black;
}
.articulo4{
    background-color: rgb(191, 0, 255);
    border: 10px double black;
}
#formulario{
    background-color: cadetblue;
    padding: 20px;
    border: 20px black groove;
}
#viniciusweb{
    background-color: yellow;
}
#barcaweb{
    background-color: yellow;
}
#brasil{
    background-color: rgb(255, 157, 0);
}
#scaloneta{
    background-color: rgb(255, 157, 0);
}
#garnachopa{
    background-color: rgb(191, 0, 255);
}
#ligadechina{
    background-color: rgb(191, 0, 255);
}
.argentinanoticias{
    background-color: deepskyblue;
}
table {
    border-collapse: collapse;
    border: 10px solid black;
    margin: 0 auto; 
}
td{
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}
article{
    border: 10px double black;
    padding: 10px;
}
section{
    margin: 0px;
    padding: 10px;
}
.bocacentrado p{
    text-align: center;
}
.bocacentrado video{
    margin: auto;
    display: block;
}
.bocacentrado audio{
    margin: auto;
    display: block;
}
.bocacentrado iframe{
    margin: auto;
    display: block;
}
.boton-index img{
    margin-top: 30px;
    width: 10%;
}
form {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}